<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>node sms texting</title>
  </head>
  <body>
<div class="">
  <h2>send sms message</h2>
  <input type="tel" name="number" id="number" value="" placeholder="enter phone number">
  <input type="text" name="msg" id="msg" value="" placeholder="enter msg">
  <input type="button" id="button" name="number" value="send text" class="button button-primary" placeholder="enter phone number">
</div>

<script src="/socket.io/socket.io.js" ></script>
<script src="js/main.js"></script>
  </body>
</html>
 
